/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

 @import "bootstrap-sprockets";
 @import "bootstrap";


 .menu
 {
 background-color: #00547E;
 border-bottom: 4px solid #04A3ED;
 width:100%;
 height: auto;
 padding: 25px 50px 75px 100px;
 padding-bottom: 10px;
 position: absolute;
 margin: 0px;
 z-index: 1;
 opacity: 0.9;

 }



 .navbar-header
 {
 font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
 padding: 0px;
 margin: 0px;
 text-decoration: none;
 color: white;
 font-size: 165px;
 padding: 5px 30px;
 }

.snapshot {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  text-align: center;
}

h3 {

  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;

}

.currency-basket {
text-align: right;
padding:10px 25px 15px 20px;
}

 // .navbar-header
 // {
 // text-decoration: none;
 // color: #b1bfd8;
 // }
