<!DOCTYPE html>
<html>
  <head>
    <title>Mapinter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <div class="menu">
    <div class="container-fluid">
    <div class="navbar-header">
        <h2>MapInter</h2>
    </div>
  
  </div>
  </div>

  <body>


    <%= yield %>
  </body>
</html>
